<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Política</title>
</head>
<body>
    <h1>Política del uso de cookies</h1>

    <p>blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla</p>
</body>
</html>